/*
#############################################################################
# Name : App.css
# Created by : Arvind Yadav
# Date       : 7th Dec 2021
#############################################################################
*/
.heading {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
}

.heading h4 {
  font-size: 32px;
  margin: 0;
}

div#root > div {
  max-width: 880px;
  margin: 130px auto;
}

.btn {
  border: 0;
  padding: 0;
  background-color: blue;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover,
.btn.cancel:hover {
  background-color: peru;
  color: #fff;
}
.btn:focus {
  border: 0;
}
.btn_group {
  display: flex;
  column-gap: 15px;
}

.btn.cancel {
  background-color: #eaeaea;
  color: #000;
}

.form_wrapper {
  border: 1px solid #eaeaea;
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.form_wrap .form_group {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.form_wrap {
  padding: 0 40px;
}

.form_wrap .form_group label {
  flex: 0 0 20%;
  font-weight: 600;
}
.form_wrap .form_group > div,
.form_wrap .form_group > .form_control {
  flex: 0 0 80%;
}
.form_control {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ababab;
  box-shadow: none;
  height: 38px;
  box-sizing: border-box;
  padding: 5px 15px;
}

.form_wrap .form_group > div .form_control {
  width: 100%;
}

.react-datepicker__input-container,
.react-datepicker-wrapper,
.react-datepicker-wrapper .react-datepicker__input-container,
.form_control_wrap {
  display: flex;
}

.css-1s2u09g-control,
.form_control.css-b62m3t-container > div.css-1pahdxg-control {
  /* border: 0 !important; */
  border: 2px solid #000;
  background-color: transparent !important;
  min-height: initial !important;
  height: 38px;
  box-shadow: none;
}

.css-6j8wv5-Input,
.css-319lph-ValueContainer {
  margin: 0 !important;
  padding: 0 !important;
}
.form_control.css-b62m3t-container {
  padding: 0;
  border: 0 !important;
}
.form_control.css-b62m3t-container > div.css-1s2u09g-control {
  /* margin-top: -2px; */
  border: 1px solid #ababab;
}
.css-319lph-ValueContainer {
  padding-left: 15px !important;
}
.form_wrap .form_group > div textarea.form_control {
  min-height: 70px;
  max-height: 70px;
}

.form_wrap2 {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.form_wrap2 .form_group {
  display: block;
}
.form_wrap2 .product {
  flex: 6 1;
  display: flex;
  column-gap: 20px;
  position: relative;
}
.form_wrap2 .stock {
  flex: 1;
}

.form_wrap2 .quantity {
  position: relative;
  flex: 3;
  /* display: flex;
  align-items: center;
  column-gap: 20px; */
}
.form_wrap2 .quantity input.form_control {
  width: calc(100% - 50px);
}

.form_wrap2 .close {
  padding: 0;
  border: 0;
  font-weight: 700;
  background-color: transparent;
  font-size: 16px;
  transform: scaleX(1.1);
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  line-height: 0;
  right: 0;
}

.form_wrap2 .close:hover {
  transform: translateY(-50%) rotate(-180deg);
}

.product_heading .product h6,
.product_heading .stock h6,
.product_heading .quantity h6 {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}

.form_wrap.form_wrap2.product_heading {
  background-color: #eaeaea;
  padding: 20px 40px;
  margin-bottom: 30px;
}
.form_wrap .form_group > div.invalid-feedback {
  /* flex: 80%; */
  margin-left: auto;
  margin-top: 3px;
  font-size: 13px;
  color: red;
  font-weight: 500;
}
.form_wrap.form_wrap2 .form_group > div.invalid-feedback {
  margin-left: 0;
}
.form_wrap .form_group.image {
  max-width: 40px;
  border: 1px solid #ababab;
  width: 100%;
  text-align: center;
  height: 40px;
  margin: 0;
  border-radius: 5px;
}
.form_wrap .form_group.image img {
  width: 100%;
}
.form_wrap2 .product select.form_control {
  flex: 0 0 calc(100% - 65px);
}
.text-center {
  text-align: center !important;
}

ul.product_list {
  height: 250px;
  position: absolute;
  background-color: #fff;
  padding: 0;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  list-style: none;
  overflow-y: auto;
  top: 26px;
}

ul.product_list li {
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0;
  line-height: 18px;
  padding: 10px 25px;
  transition: all 0.3s;
  display: flex;
  column-gap: 10px;
  cursor: pointer;
}

.product_list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.product_list::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
.product_list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #555555;
}

ul.product_list li .img {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 1px solid #a9a9a9;
  flex: 0 0 auto;
  overflow: hidden;
  border-radius: 5px;
}

ul.product_list li .img img {
  width: 100%;
  height: 100%;
}

ul.product_list li:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.form_control.after_selected_data {
  height: auto;
  min-height: 38px;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
